#postWrapperTop {
	width: 945px;
	margin: 0 auto;
	border-bottom: 2px solid #EBEBEB;
}

#postWrapperDown {
	width: 945px;
	height: 37px;
	margin: 0 auto;
	border-bottom: 2px solid #EBEBEB;
	padding: 20px 0;
	line-height: 37px;
}

.postContainer {
	width: 945px;
	margin: 0 auto 32px;
}

.dateContainer {
	float: left;
}

.postMiddleContainer {
	float: left;
}

.dateCircle {
	background-color: rgba(204, 0, 102, 0);
	border: 6px solid #EBEBEB;
	height: 122px;
	width: 122px;
	-moz-border-radius: 122px;
	-webkit-border-radius: 122px;
	color: #49B1A5;
	line-height: 118px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}

.dateCircle > span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal; 
}

.infoContainer {
	width: 806px;
	height: 68px;
	color: #B7B7B7;
	border-bottom: 2px solid #EBEBEB;
}

.infoContainer > .postCategoryContainer {
	float: left;
	height: 23px;
	padding: 0 10px 0 15px;
	border-right: 2px solid #EBEBEB;
	line-height: 23px;
	margin: 38px 0 0 0;
}

.infoContainer > .postCategoryContainer > .pointsCategoryContent > span { color: #49B1A5;}


.infoContainer > .postLikes {
	float: left;
	height: inherit;
	padding: 0 15px 0 15px;
	height: 23px;
	border-right: 2px solid #EBEBEB;
	line-height: 23px;
	margin: 38px 0 0 0;
}

.infoContainer > .postLikes > .likesIcon {
	background: url("/img/layout/heart.png") no-repeat;
	width: 18px;
	height: 14px;
	display: inline-block;
	position: relative;
	top: 2px;
	padding: 0 0 0 5px;
}

.infoContainer > .postComments {
	float: left;
	height: inherit;
	padding: 0 0 0 15px;
	height: 23px;
	line-height: 23px;
	margin: 38px 0 0 0;
}

.infoContainer > .postComments > .commentsIcon{
	background: url("/img/layout/comment.png") no-repeat;
	width: 16px;
	height: 14px;
	display: inline-block;
	position: relative;
	top: 2px;
	padding: 0 0 0 5px;
}

.postMainContent {
	margin: 20px 0 0 15px;
}

.postMainContent > .postTitle {
	font-size: 34px;
	font-weight: bolder;
	color: black;
}

.postMainContent > .postContent{
	width: 795px;
	color: #8E8E8E;
	font-size: 16px;
	margin: 15px 0 0 0;
	line-height: 19px;
}

.postMiddleContainer > .tags {
	margin: 30px 0 0 15px;
	color: #49B1A5;
}

.postMiddleContainer > .tags > span {
	padding: 0 20px 0 0;
	color: black;
	font-weight: bold;
}

#postWrapperDown > #bigCommentBox {
	float: left;
	font-size: 20px;
	vertical-align: middle;
	display: inline-block;
}

#postWrapperDown > #nextPostWrapper {
	float: right;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	margin: 0 0 0 10px;
}

#postWrapperDown > #prevPostWrapper {
	float: right;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

